
                        <!-- Blog Search Well -->
                        <div class="well">
                            <h4>Blog Search</h4>
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon-search"></span>
                                </button>
                                </span>
                            </div>
                            <!-- /.input-group -->
                        </div>

                        <!-- Blog Categories Well -->
                        <div class="well">
                            <h4>Blog Categories</h4>
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-unstyled">
          {% assign categories_list = site.categories %}
          {% include JB/categories_list %}
                                    </ul>
                                </div>
                                <!-- /.col-lg-6 -->

                            </div>
                            <!-- /.row -->
                        </div>

                        <!-- Side Widget Well -->
                        <div class="well">
                            <h4>Side Widget Well</h4>
        				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus
        					laudantium odit aliquam repellat tempore quos aspernatur vero.</p>

        			    <p class="bs-component">
        				<a href="javascript:void(0)" class="btn btn-primary">Primary</a><br>
        				<a href="javascript:void(0)" class="btn btn-success">Success</a><br>
        				<a href="javascript:void(0)" class="btn btn-info">Info</a><br>
        				<a href="javascript:void(0)" class="btn btn-warning">Warning</a><br>
        				<a href="javascript:void(0)" class="btn btn-danger">Danger</a><br>
        			    </p>
                  </div>

                  <div class="well">
                      <h4>Side Widget Well</h4>
                  <div class="text-center">
                          <ul class="social-nav model-6">
                            <li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="google-plus" rel="nofollow" target="_blank" title="Share on Google plus"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}%20{{ page.description }}&source=LinkedIn" rel="nofollow" target="_blank" title="Share on LinkedIn" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" class="twitter" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li>
                              <a href="https://facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="facebook" rel="nofollow" target="_blank" title="Share on Facebook"> <i class="fa fa-facebook"></i></a>
                            </li>
                          </ul>
                  </div>
                </div>

                <div class="well">
                    <h4>Fixed</h4>
                <div class="">
                  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <!-- jekynewage -->
                  <ins class="adsbygoogle"
                       style="display:block"
                       data-ad-client="ca-pub-9204963049240271"
                       data-ad-slot="2973388149"
                       data-ad-format="auto"></ins>
                  <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
