@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?-ee0u0f');
	src:url('../fonts/icomoon/icomoon.eot?#iefix-ee0u0f') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?-ee0u0f') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?-ee0u0f') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?-ee0u0f#icomoon') format('svg');
}

html, body, .container2, .header {
	height: 100%;
}

/* Header */
.header {
	position: relative;
	margin: 0 auto;
	min-height: 560px;
	width: 100%;
}

.bg-img {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bg-img img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	min-width: 100%;
	min-height: 100%;
}

.title {
	z-index: 1000;
	margin: 0 auto;
	padding: 0 1.25em;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.title h1 {
	padding: 0 0 0.2em;
	color: #fff;
	font-weight: 800;
	font-size: 3.25em;
	margin: 0 auto;
}

.title p {
	color: #fff;
	padding: 0 0 0.6em;
	font-weight: 300;
	font-size: 0.85em;
	margin: 0 auto;
}

.title h1,
.title p.subline {
	line-height: 1;
}

.title p.subline {
	font-size: 1.75em;
}

/* Trigger Button */
button.trigger {
	position: fixed;
	bottom: 40px;
	left: 50%;
	z-index: 5000;
	display: block;
	margin-left: -0.5em;
	padding: 0;
	width: 1em;
	height: 1em;
	border: none;
	background: transparent;
	color: transparent;
	font-size: 2em;
	cursor: pointer;
}

.container2:not(.notrans) button.trigger {
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.container2.modify:not(.notrans) button.trigger {
	opacity: 0;
	pointer-events: none;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

button.trigger::before {
	position: absolute;
	bottom: 100%;
	left: -100%;
	padding: 0.8em;
	width: 300%;
	color: #fff;
	content: attr(data-info);
	font-size: 0.35em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

button.trigger:focus {
	outline: none;
}

button.trigger span {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

button.trigger span::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	content: "\e097";
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Conent */
.content {
	margin: 0 auto;
	padding: 0 0 3em;
}

.content > div:not(.title) {
	margin: -80px auto 0;
	max-width: 900px;
	padding: 0 1.25em;
}

.content > div:not(.title) p {
	margin: 0 auto 1.5em auto;
}

.content > div:not(.title) p:first-child {
	font-size: 1.35em;
}

.content h3 {
	margin: 0;
	font-size: 1.4em;
}

.content blockquote {
	padding: 0.25em;
	font-style: italic;
	font-size: 1.65em;
	font-family: 'Lora', serif;
	line-height: 1.4;
}

.content blockquote::before {
	content: '\201C';
}

.content blockquote::after {
	content: '\201D';
}

/***** Individual effects *****/

/* -------------------------- */
/* Grid */
/* -------------------------- */

.intro-effect-grid:not(.notrans) .grid li {
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
}

.intro-effect-grid:not(.notrans) .header p  {
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

.intro-effect-grid:not(.notrans) .bg-img,
.intro-effect-grid:not(.notrans) .title {
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}

.intro-effect-grid:not(.notrans) .header h1,
.intro-effect-grid:not(.notrans) .codrops-demos a {
	-webkit-transition-property: color;
	transition-property: color;
}

.intro-effect-grid:not(.notrans) .grid li,
.intro-effect-grid:not(.notrans) .bg-img,
.intro-effect-grid:not(.notrans) .title,
.intro-effect-grid:not(.notrans) .header h1,
.intro-effect-grid:not(.notrans) .header p,
.intro-effect-grid:not(.notrans) .codrops-demos a {
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.intro-effect-grid .codrops-demos a {
	color: #fff;
}

.intro-effect-grid.modify .codrops-demos a {
	color: #cf7000;
}

.intro-effect-grid .codrops-demos a.current-demo {
	border-bottom: 3px solid #fff;
}

.intro-effect-grid.modify .codrops-demos a.current-demo {
	border-color: #cf7000;
}

.intro-effect-grid .title {
	max-width: 900px;
	padding-top: 2em;
}

.intro-effect-grid.modify .title {
	-webkit-transform: translateX(-50%) translateY(0);
	transform: translateX(-50%) translateY(0);
}

.intro-effect-grid .content > div {
	margin-top: 40px;
	color: #2e3337;
}

.intro-effect-grid .header h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	padding: 0 0 0.6em;
}

.intro-effect-grid.modify .header h1 {
	color: #2d3b44;
}

.intro-effect-grid .header p {
	opacity: 0;
	color: #4c6270;
}

.intro-effect-grid .header p.subline {
	font-size: 1.5em;
}

.intro-effect-grid.modify .header p {
	opacity: 1;
}

.intro-effect-grid .grid {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	z-index: 0;
}

.intro-effect-grid .grid li::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(71,63,59,0.5);
	pointer-events: none;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}

.intro-effect-grid.modify .grid li:hover::after,
.intro-effect-grid.modify .grid li:not(.notrans)::after {
	background: rgba(71,63,59,0.1);
}

.intro-effect-grid .grid li {
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.intro-effect-grid .grid li h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	padding-bottom: 0.4em;
	margin: 1em;
	color: #fff;
	line-height: 1;
	font-size: 1em;
	position: absolute;
	bottom: 0;
	z-index: 100;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.intro-effect-grid .grid li:hover h2 {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}

.intro-effect-grid .grid li:first-child {
	top: 0;
	left: 0;
	height: 50%;
	width: 25%;
	background-image: url(../img/thumbs/1.jpg);
}

.intro-effect-grid .grid li:nth-child(2) {
	top: 50%;
	left: 0;
	height: 50%;
	width: 25%;
	background-image: url(../img/thumbs/2.jpg);
}

.intro-effect-grid .grid li:nth-child(3) {
	top: 0;
	left: 25%;
	height: 100%;
	width: 25%;
	background-image: url(../img/thumbs/5.jpg);
}

.intro-effect-grid .grid li:nth-child(4) {
	top: 0;
	left: 50%;
	height: 50%;
	width: 50%;
	background-image: url(../img/thumbs/4.jpg);
}

.intro-effect-grid .grid li:nth-child(5) {
	top: 50%;
	left: 50%;
	height: 50%;
	width: 25%;
	background-image: url(../img/thumbs/8.jpg);
}

.intro-effect-grid.modify .grid li:not(.notrans) {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.intro-effect-grid .grid li:not(.notrans) {

	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0;
}


.intro-effect-grid .grid li:nth-child(6) {
	top: 50%;
	left: 75%;
	height: 50%;
	width: 25%;
	background-image: url(../img/thumbs/6.jpg);
}

.intro-effect-grid.modify .bg-img {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

/* Media Queries */
@media screen and (max-width: 47em) {
	.title, .content {
		font-size: 70%;
	}

	.codrops-demos a {
		font-size: 80%;
	}

	.intro-effect-side .title {
		width: 100%;
		padding: 0 1em;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.intro-effect-side.modify .bg-img::before {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	.intro-effect-side .bg-img::after {
		border-left-width: 0px;
		border-right-width: 0px;
		right: 0px;
		left: 0px;
		background: rgba(255,255,255,0.1);
	}

	.intro-effect-side.modify .bg-img::after {
		background: rgba(255,255,255,0.8);
	}

	.intro-effect-sidefixed .content {
		width: 100%;
		margin-left: auto;
	}

	.intro-effect-sidefixed .bg-img::after {
		width: 95%;
	}

}

@media screen and (max-width: 27em) {

	.intro-effect-grid .grid li h2 {
		display: none;
	}


	.title, .content {
		font-size: 50%;
	}

	button.trigger::before {
		display: none;
	}
}

/* MODIFICHE ANTONIO PER ANIMAZIONI E SELEZIONE DINAMICA TITOLI HEADER */

h2.current-demo {
	color: #fff !important;
	text-decoration: underline !important;
}

.intro-effect-grid:not(.notrans) .bg-img-mobile,
.intro-effect-grid:not(.notrans) .title {
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}

/* MODIFICHE ANTONIO PER IMMAGINI MOBILE */

.bg-img-mobile {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bg-img-mobile img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	min-width: 100%;
	min-height: 100%;
}

@media screen and (max-width: 47em) {

	.bg-img-mobile {
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.bg-img-mobile img {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		min-width: 100%;
		min-height: 100%;
		max-width: 100%;
		max-height: 100;
	}
			.bg-img {
				display: none;
			}
			.intro-effect-grid:not(.notrans) .grid li,
			.intro-effect-grid:not(.notrans) .bg-img-mobile,
			.intro-effect-grid:not(.notrans) .title,
			.intro-effect-grid:not(.notrans) .header h1,
			.intro-effect-grid:not(.notrans) .header p,
			.intro-effect-grid:not(.notrans) .codrops-demos a {
				-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
				transition-timing-function: cubic-bezier(0.7,0,0.3,1);
				-webkit-transition-duration: 1s;
				transition-duration: 1s;
			}

			.intro-effect-grid.modify .bg-img-mobile {
				-webkit-transform: translateY(-100%);
				transform: translateY(-100%);
			}

			.intro-effect-grid:not(.notrans) .bg-img-mobile,
			.intro-effect-grid:not(.notrans) .title {
				-webkit-transition-property: -webkit-transform;
				transition-property: transform;
			}

			.intro-effect-grid:not(.notrans) .grid li,
			.intro-effect-grid:not(.notrans) .bg-img-mobile,
			.intro-effect-grid:not(.notrans) .title,
			.intro-effect-grid:not(.notrans) .header h1,
			.intro-effect-grid:not(.notrans) .header p,
			.intro-effect-grid:not(.notrans) .codrops-demos a {
				-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
				transition-timing-function: cubic-bezier(0.7,0,0.3,1);
				-webkit-transition-duration: 1s;
				transition-duration: 1s;
			}
}


@media screen and (min-width: 47em) {
	.bg-img-mobile {
		display: none;
	}
}

/* General link styles http://tympanus.net/codrops/2015/05/13/inspiration-for-text-styles-and-hover-effects/ */
.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 1em;
	line-height: 1;
	color: #9e9ba4;
	display: inline-block;
}

/* Mallki */
.link--mallki {
	font-weight: 800;
	color: #cf4a5c;
	-webkit-transition: color 0.5s 0.25s;
	transition: color 0.5s 0.25s;
	overflow: hidden;
}

.link--mallki:hover {
	-webkit-transition: none;
	transition: none;
	color: transparent;
}

.link--mallki::before {
	content: '';
	width: 100%;
	height: 6px;
	margin: -3px 0 0 0;
	background: #fff;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--mallki:hover::before {
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.link--mallki span {
	position: absolute;
	height: 50%;
	width: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
}

.link--mallki span::before {
	content: attr(data-letters);
	color: red;
	position: absolute;
	left: 0;
	width: 100%;
	color: #fff;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.link--mallki span:nth-child(2) {
	top: 50%;
}

.link--mallki span:first-child::before {
	top: 0;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.link--mallki span:nth-child(2)::before {
	bottom: 0;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}

.link--mallki:hover span::before {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}



@media screen and (max-width: 42em) {

}

.pag-img{
	text-align: center;
	vertical-align: middle;
	background-repeat:no-repeat;
	background-size:100% auto;
	line-height: 200px;
	height: 200px;
}

body{padding-top:50px}body>.navbar{-webkit-transition:background-color .3s ease-in;transition:background-color .3s ease-in}@media (min-width:768px){body>.navbar-transparent{background-color:transparent}body>.navbar-transparent .navbar-nav>.open>a{background-color:transparent!important}}#home{padding-top:0}#home .navbar-brand{padding:13.5px 15px 12.5px}#home .navbar-brand>img{display:inline;margin:0 10px;height:100%}#banner{min-height:300px;border-bottom:none}.table-of-contents{margin-top:1em}.page-header h1{font-size:4em}.bs-docs-section{margin-top:6em}.bs-docs-section h1{padding-top:100px}.bs-component{position:relative}.bs-component .modal{position:relative;top:auto;right:auto;left:auto;bottom:auto;z-index:1;display:block}.bs-component .modal-dialog{width:90%}.bs-component .popover{position:relative;display:inline-block;width:220px;margin:20px}#source-button{position:absolute;top:0;right:0;z-index:100;font-weight:700}.nav-tabs{margin-bottom:15px}.progress{margin-bottom:10px}footer{margin:5em 0}footer li{float:left;margin-right:1.5em;margin-bottom:1.5em}footer p{clear:left;margin-bottom:0}.splash{padding:9em 0 2em;background-color:#141d27;background-image:url(../img/bg.jpg);background-size:cover;background-attachment:fixed;color:#fff;text-align:center}.splash .logo{width:160px}.splash h1{font-size:3em}.splash #social{margin:2em 0}.splash .alert{margin:2em 0}.section-tout{padding:4em 0 3em;border-bottom:1px solid rgba(0,0,0,.05);background-color:#eaf1f1}.section-tout .fa{margin-right:.5em}.section-tout p{margin-bottom:3em}.section-preview{padding:4em 0 4em}.section-preview .preview{margin-bottom:4em;background-color:#eaf1f1}.section-preview .preview .image{position:relative}.section-preview .preview .image:before{box-shadow:inset 0 0 0 1px rgba(0,0,0,.1);position:absolute;top:0;left:0;width:100%;height:100%;content:"";pointer-events:none}.section-preview .preview .options{padding:1em 2em 2em;border:1px solid rgba(0,0,0,.05);border-top:none;text-align:center}.section-preview .preview .options p{margin-bottom:2em}.section-preview .dropdown-menu{text-align:left}.section-preview .lead{margin-bottom:2em}@media (max-width:767px){.section-preview .image img{width:100%}}.sponsor #carbonads{max-width:240px;margin:0 auto}.sponsor .carbon-text{display:block;margin-top:1em;font-size:12px}.sponsor .carbon-poweredby{float:right;margin-top:1em;font-size:10px}@media (max-width:767px){.splash{padding-top:4em}.splash .logo{width:100px}.splash h1{font-size:2em}#banner{margin-bottom:2em;text-align:center}}
